* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: #0f1111;
}

/* Navbar */
.navbar {
    height: 60px;
    background-color: #fff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); */
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #2563eb; /* blue tone */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 15px;
  font-weight: 500;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links li:hover {
  color: #2563eb;
}

.nav-buttons button {
  font-size: 14px;
  font-weight: 600;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 15px;
}

.login-btn {
  background-color: #2563eb;
  color: black;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background 0.3s;
}

.signup-btn {
  background-color: #2563eb;
  color: black;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background 0.3s;
}

.signup-btn:hover {
  background-color: #1e4ed8;
}

.login-btn:hover {
  background-color: #1e4ed8;
}

/* Hero Section */
.hero {
  text-align: center;
  margin-top: 100px;
  padding: 0 20px;
}

.badge {
  display: inline-block;
  background-color: #dbeafe;
  color: #1d4ed8;
  font-weight: 600;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 20px;
}

.highlight {
  color: #2563eb;
}

.hero p {
  max-width: 650px;
  margin: 0 auto 35px;
  font-size: 18px;
  /* color: #555; */
  color: #ccc;
  line-height: 1.5;
}

.cta-btn {
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 14px 32px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.cta-btn:hover {
  background-color: #1e4ed8;
  transform: translateY(-2px);
}

/* Image Section */
.image-section {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.image-section img {
  width: 80%;
  max-width: 1100px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.data {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2563eb;
}

.form {
  text-align: center;
  margin: 60px 20px;
}

.submit-btn {
  background-color: #2563eb;
  color: white;
  font-size: 15px;
  font-weight: 400;
  border: none;
  padding: 14px 32px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}


.submit-btn:hover {
  background-color: #1e4ed8;
  transform: translateY(-2px);
}

.choose-section {
  text-align: center;
  margin: 80px 20px;
  font-size: 18px;
  color: #2563eb;
  line-height: 1.6;
}

/* Footer */
.footer {
  text-align: center;
  color: #888;
  font-size: 14px;
  margin-bottom: 40px;
}
